$ cat .gitattributes
*.js linguist-language=javascript
*.css linguist-language=javascript
*.html linguist-language=javascript

$ cat .gitattributes
dist/* linguist-vendored
*.js linguist-vendored=true